*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #18191F;
    background: #F5F7FA;
    line-height: 1.6;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background: #18191F;
    border-radius: 2px;
}

.close-btn {
    display: none;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.header {
    background: #fff;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav a{
    color: #18191F;
    font-weight: 500;
    transition: 0.3s;
}
.nav a:hover{
    color: #4CAF4F;
}
 .auth-buttons{
    display: flex;
    gap: 15px;
    align-items: center;
 }
.login {
    color: #4CAF4F;
    font-weight: 500;
}

.btn-primary {
    background: #4CAF4F;
    color: #fff;
    border: 1px solid #4CAF4F;
}
.btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}
.btn-primary:hover {
    background: #ffffff;
    color: #4CAF4F;
    border-color: #4CAF4F;
}

.hero {
    padding: 80px 0;
    background: #F5F7FA;
}
.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.hero-content h1 {
    font-size: 47px;
    font-weight: 600;
    margin-bottom: 20px;
}
.hero-content h1 span {
    color: #4CAF4F;
}
.hero-content p {
    color: #717171;
    margin-bottom: 30px;
    max-width: 500px;
}
.hero-image img {
    width: 500px;
}

.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-header h2 {
    font-size: 36px;
    margin-bottom: 5px;
}
.section-header p {
    color: #717171;
}
.clients {
    padding: 60px 0;
    background: #fff;
}
.client-logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.client-logos img {
    max-width: 100%;
}
.community {
    padding: 80px 0;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card {
    background: #fff;
    padding: 40px 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
    width: 320px;
}
.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin: 20px 0 10px;
}
.card p {
    color: #717171;
    font-size: 14px;
}
.feature {
    padding: 40px 0;
    background: #fff;
}
.feature-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}
.feature-wrapper.reverse {
    flex-direction: row-reverse;
}


.feature-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.feature-content p {
    color: #717171;
    margin-bottom: 30px;
}
.statistics {
    background: #F5F7FA;
    padding: 80px 0;
}
stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.stats-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}
.stats-text h2 span {
    color: #4CAF4F;
}
.stats-text p {
    color: #717171;
    text-align: center;
    margin-bottom: 20px;
}
.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 50px;
    align-items: center;
    justify-items: center;
}
.stat-item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.stat-item h3 {
    font-size: 24px;
    font-weight: 700;
}
.stat-item p {
    font-size: 14px;
    color: #717171;
}
.blog {
    padding: 50px 0;
    background: #F5F7FA;
}
.blog-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.blog-card {
    position: relative;
    width: 320px;
    margin-top: 40px;
}
.blog-image img {
    width: 100%;
    border-radius: 10px;
    height: 220px;
    object-fit: cover;
}
.blog-content {
    padding: 10px;
    text-align: center;
}
.blog-content {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 85%;
    margin: -60px auto 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
}
.blog-content h3 {
    font-size: 15px;
    margin-bottom: 15px;
    color: #717171;
}
.blog-content a {
    color: #4CAF4F;
    font-weight: 500;
}
.blog-card:hover .blog-content {
    transform: translateY(-5px);
}
.cta {
    padding: 50px 0;
    text-align: center;
    background: #ffff;
}

.cta h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.footer {
    background: #263238;
    color: #fff;
    padding: 20px 0;
}
.footer-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.footer-links {
    display: flex;
    gap: 60px;
}
.footer h4 {
    margin-bottom: 15px;
}
.footer ul {
    list-style: none;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    color: #ccc;
    font-size: 14px;
}

.footer ul li a:hover {
    color: #fff;
}

@media (max-width: 992px) {
    html, body {
        overflow-x: hidden;
    }
    .hero-wrapper {
        flex-direction: column-reverse;
    }
    .hero-image{
        justify-content: center;
    }
    .hero-content h1 {
        font-size: 35px;
        line-height: normal;
    }
    .hero-content {
       width: 100%;
    }
    .navigation{
        gap: 20px;
    }
    .nav ul {
        gap: 20px;
    }
    /* .hero-content p {
        margin: 0 auto 25px;
    } */
    .hero-image img {
        width: 100%;
        max-width: 400px;
    }
    .section-header h2 {
        font-size: 32px;
    }
    .clients {
        padding: 50px 0;
        background: #fff;
    }
    .community {
        padding: 65px 0;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .card {
        padding: 20px 15px;
    }
    .card h3 {
        margin: 10px 0 8px;
    }
    .feature-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .feature-content{
        text-align: center;
    }
    .feature-content h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .feature-content p {
        font-size: 15px;
    }
    .statistics {
        background: #F5F7FA;
        padding: 60px 0;
    }
    .stats-wrapper {
        flex-direction: column;
    }
    .stats-text{
        line-height:1.3;
    }
    .feature-wrapper.reverse  {
        flex-direction: column;
    }
    .stats-wrapper {
        gap: 45px;
    }
    /* .stats-grid{
        gap: 50px 50px;
    } */
    .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 50px;
}
    .blog-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-card {
        width: 100%;
        max-width: 600px;
    }
    .blog-image img {
        height: 340px;
    }
    .section-header {
        margin-bottom: 25px;
    }
    .blog-content {
        padding: 30px 20px;
    }
    .blog-content a{
        font-size: 13px;
    }
    .blog-content h3 {
        margin-bottom: 5px;
    }

    .cta {
        padding: 50px 0;
    }
    .cta h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }



}
@media (max-width: 768px) {
    .navigation{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    .footer-left{
        text-align: center;
    }
    .footer-links{
        justify-content: center;
    }
}

@media (max-width:480px) {
    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-image img {
        width: 100%;
        max-width: 400px;
    }
    .client-logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5px 25px;
        justify-items: center;   /* horizontal center */
        align-items: center;
    }
    .client-logos img {
        max-width: 100%;
    }
    .card-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .stats-grid {
        gap: 30px 20px;
    }
    .stats-text {
        text-align: center;
    }
    .blog-cards {
        flex-direction: column;
    }
    .blog-card {
        width: 100%;
        margin-top: 0;
    }
    .blog-image img {
        width: 100%;
        height: 200px;
        border-radius: 12px;
    }
    .blog-content {
        padding: 18px;
    }
    .cta h2 {
        font-size: 19px;
    }
    .footer-wrapper {
        flex-direction: column;
    }

}

