* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background: transparent;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}
.header.scrolled {
    background: #ffffff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}
.header .nav-links a,
.header .logo {
    color: #ffffff;
    transition: color 0.3s ease;
}
.header.scrolled .nav-links a,
.header.scrolled .logo {
    color: #222;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2 {
    font-size: 22px;
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: currentColor;
    transition: 0.3s ease;
}
.close-btn{
    display: none;
}

.footer {
    background: #f5f5f5;
    padding: 80px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-brand h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-brand p {
    color: #666;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
}
.footer-column a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}
.footer-column a:hover {
    color: #000;
}
.footer-column{
    max-width: min-content;
}
.hero {
    position: relative;
    height: 100vh;
    background: url('assets/hero.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
}
.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,1)
    );
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.188);
}

.hero-content {
    position: relative;
    z-index: 2;
}
.hero-content h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 18px;
    max-width: 550px;
    margin-top: 85px;
    color: #ffffff;
}

.hero-content p {
    font-size: 18px;
    color: #f5f5f5;
    max-width: 600px;
}
.hero-content h1,
.hero-content p {
    text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.about {
    padding: 120px 0;
    background: #ffffff;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.about-left {
    flex: 1;
}

.about-right {
    flex: 1;
}
.about-left h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
}
.about-right p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
    max-width: 500px;
}
.stats {
    display: flex;
    gap: 50px;
}
.stat h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.stat span {
    font-size: 14px;
    color: #777;
}
.gallery {
    padding: 100px 0;
    background: #f9f9f9;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.4s ease;
}
.gallery-item:hover img {
    transform: scale(1.05);
}
.gallery-item {
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.features {
    padding: 100px 0;
    background: #ffffff;
}
.features .container {
    display: flex;
    gap: 80px;
}
.features-left {
    flex: 1;
}

.features-right {
    flex: 1;
}

.feature {
    text-align: center;
}

.feature h3 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature p {
    text-align: left;
    font-size: 15px;
    color: #666;
    line-height: 1.6;
}

.features-right {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 40px;
}

.dream-home {
    padding: 100px 0;
    background: #f9f9f9;
}
.dream-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.dream-left .dream-item {
    width: 65%;
    height: 400px;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 8px;
    margin-left: 220px;
}
.dream-left h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.3;
}

.dream-left p{
    font-size: 16px;
    color: #666;
    max-width: 400px;
}
.dream-gallery {
    height: 600px;   /* total height control */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;  /* 70% / 30% ratio */
    gap: 30px;
}

.dream-item.large {
    grid-column: 1 / 3; 
}

.dream-item {
    overflow: hidden;
    border-radius: 10px;
}
.dream-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.dream-gallery .dream-item:last-child {
    width: 65%;              
    justify-self: start;     
}
.faq {
    padding: 120px 0;
    background: #ffffff;;
}

.faq-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 20px;
}
.faq-left h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.3;
}

.faq-left p {
    font-size: 16px;
    color: #666;
    max-width: 400px;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.faq-answer p {
    color: #666;
}

.faq-item.active .faq-answer {
    max-height: 300px; 
}
.arrow {
    width: 10px;
    height: 10px;
    margin: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}
.faq-item.active .arrow {
    transform: rotate(-135deg);
}

.faq-item{
    padding: 20px 18px;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
}

/* Tablet */
@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .hero-content h1 {
        font-size: 42px;
        font-weight: 500;
    }
    .hero-content p {
        font-size: 16px;
    }
    /* About Section */
    .about{
        padding: 100px 0;
    }
    .about-container {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .stats {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Features */
    .features{
        padding: 90px 0;
    }
    .features .container {
        flex-direction: column;
        gap: 50px;
    }
    .feature h3,
    .feature p{
        text-align: center;
    }
    .dream-gallery {
        height: auto;
        grid-template-rows: auto auto;
        gap: 25px;
    }
    .dream-gallery .dream-item:last-child {
        width: 80%;
    }
    .dream-left .dream-item {
        width: 100%;
        height: 250px;
        margin-left: 0;
    }
    .dream-container{
        gap: 25px;
    }
    .faq-left h2,
    .about-left h2 {
        font-size: 28px;
    }
    .faq-item{
        border: 0.5px solid;
    }
    .dream-left h2 {
        font-size: 30px;
    }
    .footer-links
    {
        display: flex;
        gap: 100px;
        padding: 20px 10px;
        justify-content: center;
    }
    .footer-container{
        flex-direction:column;
    }
    .footer-brand{
        text-align: center;
    }
    .close-btn{
        display: block;
    }
}


/* Mobile */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 35px;
    }
    .hero-content p{
        font-size: 14px;
    }
    .faq-left h2,
    .faq-left p{
        text-align: center;
        max-width: 100%;
    }

    .faq-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        background: #ffffff;
        flex-direction: column;
        padding-top: 100px;
        gap: 30px;
        align-items: center;
        transition: right 0.4s ease;
        box-shadow: -5px 0 20px rgba(0,0,0,0.1);
    }

    .nav-links.active {
        right: 0;
        width: 100%;
    }
    .header .nav-links a {
        margin: 0;
        color: #222;
        font-size: 16px;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        cursor: pointer;
    }
    .close-btn{
        display: block;
    }

}

/* Small Mobile */
@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 35px;
        font-weight: 550;
        margin-top: 144px
        }
    .hero-content p{
        font-size: 14px;
    }
    .hero {
        height: 90vh;
        text-align: center;
    }
    .gallery-grid {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .dream-gallery .dream-item:last-child {
        width: 100%;
        height: 50%;
    }
    .footer-links{
        gap: 35px;
    }
    .faq-item {
        border: 0.5px solid #6c6c6c;
    }
    .faq-left h2, .about-left h2 {
        font-size: 25px;
    }
    .faq-left p{
        font-size: 15px;
    }
    .faq-item {
        padding: 15px 10px;
    }
    .faq-item span,
    .faq-item p{
        font-size: 14 px;
    }
    .faq-item .arrow{
        width: 6px;
        height: 6px;
    }
    
    .faq{
        padding: 60px 0;
    }
    .footer{
        padding: 45px 0;
    }
    .footer-brand p{
        font-size: 15px;
    }
    .footer-brand p{
        font-size: 15px;
    }
    .footer-container{
        gap: 25px;
    }
    .dream-left h2{
        font-size: 25px;
        text-align: left;
    }
    .dream-left p{
        font-size: 15px;
    }
    .close-btn{
        display: block;
    }

}
